:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --font-size: 32px;
  --font-family: "Inter";
  --font-weight-300: 300;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--dark-blue);

  background-image: url("./assets/background/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.testimonial {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height: 90vh;
  margin: auto;  
  position: relative;

  background-image: url("./assets/background/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
}

/* LEFT */
.testimonial-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  position: relative;
  left: 118px;

  background-image: url("./assets/background/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: 100px 150px;
}

.testimonial-quote {
  font-weight: var(--font-weight-300);
  margin-bottom: 25px;
}

.person-name {
  font-size: 1rem;
  font-weight: var(--font-weight-700);
  margin-right: 7px;
}

.person-job {
  font-size: 1rem;
  font-weight: var(--font-weight-300);
  color: var(--grayish-blue);
}

/* RIGHT */
.testimonial-avatar {
  width: 50%;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.testimonial-avatar img {
  margin: auto;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* SLIDER */
.slider-container {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: auto;
  border-radius: 50px;
  position: relative;
  bottom: 115px;
  left: 145px;
}

.slider-container button {
  background: none;
  border: none;
  padding: 15px 20px;
}

.slider-container button:hover{
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 430px) {
  body {
    font-size: 1.1rem;
    background-size: 50%;
  }

  .testimonial {
    flex-direction: column-reverse;
    gap: 25px;
    min-height: 92vh;

    background-position: 75px 20px;
    background-size: 75%;
  }

  /* LEFT -> BOTTOM */
  .testimonial-text {
    width: 70%;
    left: 0;
    justify-content: center;
    align-items: center;

    background-size: 25%;
  }

  .testimonial-quote {
    text-align: center;
  }
  .testimonial-quote p {
    text-align: center;
  }

  .person-name {
    display: block;
  }

  /* RIGHT -> TOP */
  .testimonial-avatar {
    width: 70%;
    margin-right: 0;
    align-self: center;
    margin-bottom: 50px;
  }
  .testimonial-avatar img {
    width: 100%;
  }

  /* SLIDER */
  .slider-container {
    bottom: 330px;
    left: 0px;
  }
}