/*----- CSS RESET START -----*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/*----- CSS RESET END -----*/

/*----- OWN STYLES -----*/
:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);  
    
    --font-family: "Inter", sans-serif;
    --font-size: 32px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-blue);

    background-image: url("./assets/background/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 75%;
}

.container {
    width: 95%;
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    padding: 10px;
}

/*----- TESTIMONIAL -----*/
.quote {
    order: 1;
    font-size: 1.1rem;
    text-align: center;
    align-self: center;
    margin-top: -40px;
    font-weight: 500;
    padding-top: 25px;

    background-image: url("./assets/background/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: 125px 0;
    background-size: 25%;
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.name,
.job {
    font-size: .9rem;
}

.name {
    font-weight: 700;
}

.job {
    color: var(--grayish-blue);
    font-weight: 300;
}

/*----- PORTRAIT -----*/
.portrait-container {
    padding: 40px 40px 0 40px;
    
    background-image: url("./assets/background/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.portrait {
    border-radius: 5px;
    margin: auto;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.hide {
    display: none;
}

/*----- SLIDER -----*/
.slider-container {
  width: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: auto;
  border-radius: 50px;
  position: relative;
  bottom: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.slider-container button {
  background: none;
  border: none;
  padding: 15px;
  
}

.slider-container button:hover{
  cursor: pointer;
}

/*----- ATTRIBUTION -----*/
.attribution { 
    font-size: .75rem; 
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 3px;
    left: 0;
}
.attribution a { 
    color: var(--grayish-blue); 
    text-decoration: none;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .quote {
    order: 0;
    font-size: 2rem;
    text-align: left;
    position: relative;
    left: 150px;
    padding-top: 50px;
  }

  .details {
    flex-direction: row;
    margin-top: 25px;
  }

  .name,
  .job {
    font-size: 1.1rem;
  }

  .name {
    margin-right: 10px;
  }

  .slider-container {
    left: -125px;
  }
}